## example

##### Given with three text files, count the total of all numerical elements from these files

In [2]:
f = open('num1.txt')
data = f.read()
data

'23\n54\n12\n67\n39\n81\n50\n88\n97\n33\n'

In [3]:
nums = data.split()
data

'23\n54\n12\n67\n39\n81\n50\n88\n97\n33\n'

In [4]:
nums

['23', '54', '12', '67', '39', '81', '50', '88', '97', '33']

In [5]:
nums = [ int (n) for n in nums]
nums

[23, 54, 12, 67, 39, 81, 50, 88, 97, 33]

In [6]:
sum(nums)

544

In [7]:
f = open('num2.txt')
data = f.read()
data

'45 abc\n67 78 12\nfcdc 34 11\ngh ed hy\n56\n34 56 7f\n12 64 rrrr\n4\n56 64 78 dr\n12 f34 63 '

In [8]:
nums = data.split()

In [9]:
nums

['45',
 'abc',
 '67',
 '78',
 '12',
 'fcdc',
 '34',
 '11',
 'gh',
 'ed',
 'hy',
 '56',
 '34',
 '56',
 '7f',
 '12',
 '64',
 'rrrr',
 '4',
 '56',
 '64',
 '78',
 'dr',
 '12',
 'f34',
 '63']

In [10]:
nums = [ int (n) for n in nums if n.isdigit()]

In [11]:
nums

[45, 67, 78, 12, 34, 11, 56, 34, 56, 12, 64, 4, 56, 64, 78, 12, 63]

In [12]:
sum(nums)

746

### file position

#### the file position knows as the file pointer or file cursor refers to the current location within an open file where the next read or write operation will occur.

In [13]:
f = open('maharashtra.txt')

In [14]:
f.tell()

0

In [15]:
f.readline()

'It is raining heavinglyIt may cause flood'

In [16]:
f.tell()

41

In [17]:
f.readline()

''

In [18]:
f.tell()

41

In [19]:
f.seek(10)

10

In [20]:
f.readline()

'ing heavinglyIt may cause flood'

## binary mode

#### opening a file in binary mode means your telling the interpreter to treat the file content as a sequence ofraw byte,
#### rather than trying to interpret it as text with specific character encoding

#### how to open a file in binary mode:
#### -------------------------------------------------
#### you add 'b' to your usual mode:

#### 'rb' : Read binary. Open the file for reading in binary mode.
#### 'wb' : Write binary.Open the file writing in binary mode.If the file exists.its content are truncate .If the file doesnt exist ,it's created .
#### 'ab' : Append binary.Open the file for appending in binary mode. Data is writen to the end of the file. 
#### 'r+b' : Read and write binary.
#### 'w+b' : Read and write binary . Truncate the file first.
#### 'a+b' : Read and write binary.Append data to the end.

In [21]:
with open('mydata.bin','wb') as f :
    f.write(b'hello world')

In [22]:
with open('mydata.bin','rb') as f :
    content = f.read()
    print(f'data in file {content}')

data in file b'hello world'

# exception handling

### exception can be said to be abnormal condition in a program resulting to the disruption in flow of program.

In [23]:
if True 
print ('ok')

SyntaxError: expected ':' (1245497235.py, line 1)

In [24]:
def hello():
print('hello')

IndentationError: expected an indented block after function definition on line 1 (1635008653.py, line 2)

In [25]:
x = 'hello'
y = 345
z = x+y

TypeError: can only concatenate str (not "int") to str

In [26]:
t = (56,78,90,76)

In [27]:
t.append(23)

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
f.open('india.txt')

AttributeError: '_io.BufferedReader' object has no attribute 'open'

## uncaught exception

In [30]:
num1 = int(input('enter the no:'))
num2 = int(input('enter the no2:'))
div = num1/num2
print('division:',div)

enter the no: 89
enter the no2: 90

division: 0.9888888888888889

In [31]:
num1 = int(input('enter the no:'))
num2 = int(input('enter the no2:'))
div = num1/num2
print('division:',div)

enter the no: 78
enter the no2: 0

ZeroDivisionError: division by zero

# Using try and except

#### try : Run this code 
#### except : Excute this code when there is an exception 
#### else : No exception? run this code 
#### finally : Always run this code

In [2]:
import os
num1 = int(input('enter the no:'))
num2 = int(input('enter the no2:'))
try:
    div = num1/num2
except ZeroDivisionError:
    print('denominator must be non-zero')
    os._exit(0)
print('division:',div)

enter the no: 45
enter the no2: 9

division: 5.0

In [1]:
import os
num1 = int(input('enter the no:'))
num2 = int(input('enter the no2:'))
try:
    div = num1/num2
except ZeroDivisionError:
    print('denominator must be non-zero')
    os._exit(0)
print('division:',div)

enter the no: 45
enter the no2: zero

ValueError: invalid literal for int() with base 10: 'zero'

In [1]:
import os
try:
   num1 = int(input('enter the no:'))
   num2 = int(input('enter the no2:'))
   div = num1/num2
except :
    print('error')
    os._exit(0)
print('division:',div)

enter the no: 56
enter the no2: 8

division: 7.0

In [3]:
import os
try:
   num1 = int(input('enter the no:'))
   num2 = int(input('enter the no2:'))
   div = num1/num2
   print('division:',div)
except Exception as e  :
    print('error',e)

enter the no: three

error invalid literal for int() with base 10: 'three'

## try-except- else

In [6]:

try:
   num1 = int(input('enter the no:'))
   num2 = int(input('enter the no2:'))
   div = num1/num2
except Exception as e  :
    print('error',e)
else:
    print('division:',div)

enter the no: 45
enter the no2: 90

division: 0.5

## finally block

#### ⚫ In case if there is any code which the user want to be excuted ,whether exception occur or not then that code can be placed inside the finally block

In [7]:
try:
   num1 = int(input('enter the no:'))
   num2 = int(input('enter the no2:'))
   div = num1/num2
except Exception as e  :
    print('error',e)
else:
    print('division:',div)
finally:
    print('program end ')

enter the no: 45
enter the no2: 0

error division by zero
program end

## raising a exception

### we can use raise to throw an exception if a condition occurs.

In [1]:
num = int(input('enter the no:'))
if num > 1000:
    raise Exception('large no')
print('your no is:',num)

enter the no: 890

your no is: 890

## create your own exception

In [9]:
class NegativeNumberException(Exception):
    def __init__(self,data):
        self.data = data
    def __str__(self):
        return repr ('number is negative')

In [16]:
num = int(input('enter the no:'))

try:
    if num < 0:
        raise NegativeNumberException(num)
    print('square as number:', num ** 2)
except NegativeNumberException as e:
    print('Error:',e)

enter the no: -9

Error: 'number is negative'