In [1]:
count = 0
while count < 5:
    print("pune")
    count +=1

pune
pune
pune
pune
pune

In [ ]:
# find addition of odd no from 1 to 20 using while loop

In [2]:
count = 1
add = 0
while count <= 20:
 add = add + count
 count += 2
print(add)

100

In [ ]:
# intentional infinite loop
#while True:
#print("hi")

In [ ]:
#find the factorial no of user

In [3]:
num = int(input(" enter the number for factorial no :"))
factorial = 1 

for i in range(1, num + 1):
    factorial = factorial * i
print("The factorial of", num, "is", factorial)

 enter the number for factorial no : 7

The factorial of 7 is 5040

In [ ]:
# find the addition of the digit in the number
#12345== 1+2+3+4+5 = 15

In [4]:
1234//10

123

In [9]:
num = int(input("enter the no:"))
add = 0
while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10
    print("addition is : ",(add))

enter the no: 8900

addition is :  0
addition is :  0
addition is :  9
addition is :  17

In [ ]:
# for loop

In [ ]:
for n in 12 ,3 , 4, 5:
    print (n)

In [ ]:
# iterate over a sequence and print half of those value

In [3]:
for n in 12 ,3 , 4, 5:
    print ( n / 2 ,end = ' ')

6.0 1.5 2.0 2.5

In [ ]:
# range

In [ ]:
list(range(10))

In [ ]:
list(range(1,10))

In [2]:
list(range(1,12,2))
# start,end ,step

[1, 3, 5, 7, 9, 11]

In [1]:
for n in range(1,11):
    print(n, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
# find the addition of 1 to 10 no using for loop

In [ ]:

sum = 0

for num in range(1, 11):  
    sum = num+sum   

print("The sum of numbers from 1 to 10 is:", sum)

In [ ]:
for i in "pune":
    print(i)

In [ ]:
for i in "pune" , "mumbai":
    print(i)

In [ ]:
# find factorial using for loop

In [3]:
num = 4
factorial = 1 

for i in range(1, num + 1):
    factorial = factorial * i
print("The factorial of", num, "is", factorial)

The factorial of 4 is 24

In [ ]:
#### loop control statement

In [ ]:
# break

In [2]:
for i in range ( 1, 11):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

In [1]:
count = 1
while count < 11:
    print(count)
    if count == 6:
        break
    count += 1

1
2
3
4
5
6

In [4]:
# continue

In [9]:
for i in range(1,11):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [14]:
rows =int(input("enter the no of row :"))
for i in range(1, rows + 1):
    print('*' * i)

enter the no of row : 7

*
**
***
****
*****
******
*******

In [17]:
rows =int(input("enter the no of row :"))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
                        print('*' * i, end = " ")
    print()

enter the no of row : 5

*
** **
*** *** ***
**** **** **** ****
***** ***** ***** ***** *****